Save/
query_strategies/
_pycache_/
active_learningCaltech101.py
actlear_CI100.py
actlear_FMN.py
actlear_sv.py
augmentations.py
*.ipynb
*.sub
*.png
data/
cifar10/

git remote set-url origin https://sgchr273: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@github.com/sgchr273/LPLgrad.git

git remote add origin
